*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
out/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.db
db/*
target/test-classes/ru/yandex/practicum/filmorate/controller/UserValidatorTest.class
target/test-classes/ru/yandex/practicum/filmorate/controller/FilmValidatorTest.class
target/classes/ru/yandex/practicum/filmorate/validator/UserValidator.class
target/classes/ru/yandex/practicum/filmorate/validator/FilmValidator.class
target/classes/ru/yandex/practicum/filmorate/utils/Common.class
target/classes/ru/yandex/practicum/filmorate/storage/UserStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/InMemoryUserStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/InMemoryFilmStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/FilmStorage.class
target/classes/ru/yandex/practicum/filmorate/service/UserService.class
target/classes/ru/yandex/practicum/filmorate/service/FilmService.class
target/classes/ru/yandex/practicum/filmorate/model/User.class
target/classes/ru/yandex/practicum/filmorate/model/User$UserBuilder.class
target/classes/ru/yandex/practicum/filmorate/model/Response.class
target/classes/ru/yandex/practicum/filmorate/model/Film.class
target/classes/ru/yandex/practicum/filmorate/model/Film$FilmBuilder.class
target/classes/ru/yandex/practicum/filmorate/FilmorateApplication.class
target/classes/ru/yandex/practicum/filmorate/exception/ValidationException.class
target/classes/ru/yandex/practicum/filmorate/exception/NotFoundException.class
target/classes/ru/yandex/practicum/filmorate/controller/UserController.class
target/classes/ru/yandex/practicum/filmorate/controller/GlobalExceptionHandler.class
target/classes/ru/yandex/practicum/filmorate/controller/FilmController.class
target/classes/application.properties
target/classes/application.properties
target/classes/ru/yandex/practicum/filmorate/controller/FilmController.class
target/classes/ru/yandex/practicum/filmorate/controller/GlobalExceptionHandler.class
target/classes/ru/yandex/practicum/filmorate/controller/UserController.class
target/classes/ru/yandex/practicum/filmorate/exception/NotFoundException.class
target/classes/ru/yandex/practicum/filmorate/exception/ValidationException.class
target/classes/ru/yandex/practicum/filmorate/FilmorateApplication.class
target/classes/ru/yandex/practicum/filmorate/model/Film$FilmBuilder.class
target/classes/ru/yandex/practicum/filmorate/model/Film.class
target/classes/ru/yandex/practicum/filmorate/model/Response.class
target/classes/ru/yandex/practicum/filmorate/model/User$UserBuilder.class
target/classes/ru/yandex/practicum/filmorate/model/User.class
target/classes/ru/yandex/practicum/filmorate/service/FilmService.class
target/classes/ru/yandex/practicum/filmorate/service/UserService.class
target/classes/ru/yandex/practicum/filmorate/storage/FilmStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/InMemoryFilmStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/InMemoryUserStorage.class
target/classes/ru/yandex/practicum/filmorate/storage/UserStorage.class
target/classes/ru/yandex/practicum/filmorate/utils/Common.class
target/classes/ru/yandex/practicum/filmorate/validator/FilmValidator.class
target/classes/ru/yandex/practicum/filmorate/validator/UserValidator.class
target/test-classes/ru/yandex/practicum/filmorate/controller/FilmValidatorTest.class
target/test-classes/ru/yandex/practicum/filmorate/controller/UserValidatorTest.class
